@model IEnumerable<Profile.UI.Models.Profile.CourseViewModel>

@foreach (var item in Model) {
    <div class="row prf-add-inform prf-underline-decoration" courseId="@Html.DisplayFor(modelItem => item.Id)">
        <div class="col-sm-3 prf-study">
            <div class="prf-info prf-date">@Html.DisplayFor(modelItem => item.TimePeriod)</div>
        </div>
        <div class="col-sm-6 col-sm-offset-1 prf-study ">
            <div class="prf-info">@Html.DisplayFor(modelItem => item.EducationalEstablishment)</div>
            <div class="prf-info">@Html.DisplayFor(modelItem => item.CourseName)</div>
            <div class="prf-info">@Html.DisplayFor(modelItem => item.AdditionalInformation)</div>
        </div>
    </div>
}