@model List<Profile.UI.Models.TraineeViewModel>
@{
    ViewBag.Title = "Список профайлов";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

@Styles.Render("~/Content/tables")

<!-- Student table -->
<div class="container">
    <div class="prf-main">
        <!-- Main Login -->
        <section class="prf-main-content">
            <!-- Main section -->
            <section class="prf-main-section">
                <h1>Список стажеров</h1>
                @*<button type="submit" class="btn btn-info prf-submit-dataTable">Cохранить</button>*@
                <div class="prf-main-table table-responsive">
                    <table class="table table-striped table-hover" id="prfMainTable">
                        <thead>
                            <th>ФИО</th>
                            <th>Направление</th>
                            <th>Проект</th>
                            <th>Продолжительность релиза</th>
                            <th>Команда</th>
                            <th>Допущен к защите</th>
                        </thead>
                        @foreach (var trainee in Model)
                        {
                            <tr id=@trainee.Id>
                                <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    @if (CurrentUser.IsAuthenticated)
                                    {
                                        @: @Html.ActionLink(trainee.FullName, "View", "Profile", new { id = trainee.Id }, null)
                                    }
                                    else
                                    {
                                        @: @trainee.FullName
                                    }
                                </td>
                                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">@trainee.Specialization</td>
                                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">@trainee.Project</td>
                                <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">@trainee.ReleaseDuration</td>
                                <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">@trainee.Command</td>
                                <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 checkAdmitted">
                                    <label class="prf-table-label">
                                        @if (trainee.IsAllowed)
                                        {
                                            <input type="checkbox" checked><span>Допущен</span>
                                        }
                                        else
                                        {
                                            <input type="checkbox"><span>Не допущен</span>
                                        }
                                    </label>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </section>
            <!-- end of Main section -->
        </section>
        <!-- end of Main Login -->
    </div>
    <!-- end of Main Content -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/tables")
    <script src="~/Scripts/Custom/traineesList.js"></script>
}